h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: serif;
}

#Lebenslauf thead {
    background-color: aquamarine;
}

#Lebenslauf {
    border-spacing: 0px;
}

tr th {
    background-color: brown;
}
